# 1. Tratamiento de datos

## 1.1.1 Carga de datos:

Disponemos de 4 ficheros csv que contienen los datos con los que construir la base de datos:
- `clase_1.csv` y `clase_2.csv` contienen los datos de los alumnos pertenecientes al bootcamp de *Data Science*.
- `clase_3.csv` y `clase_3.csv` contienen los datos de los alumnos pertenecientes al bootcamp de *Full Stack*.
- `claustro.csv` contiene los datos del claustro de profesores.

Echemos un vistazo al contenido de los csv:

In [1]:
import pandas as pd

In [5]:
df1 = pd.read_csv("data/clase_1.csv", sep = ';')
df2 = pd.read_csv("data/clase_2.csv", sep = ';')
df3 = pd.read_csv("data/clase_3.csv", sep = ';')
df4 = pd.read_csv("data/clase_4.csv", sep = ';')
df_claustro = pd.read_csv("data/claustro.csv", sep = ';')

In [44]:
df1.head(1)

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto

In [45]:
df2.head(1)

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Guillermo Borrego,Guillermo_Borrego@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,No Apto,Apto,No Apto

In [46]:
df3.head(1)

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Amor Larrañaga,Amor_Larrañaga@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,No Apto

In [47]:
df4.head(1)

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Teresa Laguna,Teresa_Laguna@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto

In [10]:
df_claustro

               Nombre Rol Vertical   Promocion    Campus   Modalidad
0           Noa Yáñez  TA       DS  Septiembre    Madrid  Presencial
1   Saturnina Benitez  TA       DS  Septiembre    Madrid  Presencial
2          Anna Feliu  TA       FS  Septiembre    Madrid  Presencial
3       Rosalva Ayuso  TA       FS  Septiembre  Valencia  Presencial
4    Ana Sofía Ferrer  TA       FS     Febrero  Valencia  Presencial
5     Angélica Corral  TA       FS     Febrero    Madrid  Presencial
6         Ariel Lledó  TA       DS  Septiembre    Madrid  Presencial
7         Mario Prats  LI       FS     Febrero  Valencia      Online
8   Luis Ángel Suárez  LI       FS  Septiembre    Madrid      Online
9  María Dolores Diaz  LI       DS  Septiembre    Madrid      Online

### 1.1.2 Agrupación de datos:

**TABLA TOTAL:**

In [34]:
df_total = pd.concat([df1, df2, df3, df4], ignore_index = True)

## 1.2 Agrupación de datos:

Antes de subir las tablas a la **Base de Datos**, vamos a generar los DataFrames en los que agrupar los datos.

### 1.2.1 Vertical:

**Tabla X**: Vertical

Distintos Bootcamps que ofrece The Bridge.

In [16]:
df_vertical = pd.DataFrame({
    "bootcamp": df_claustro["Vertical"].unique()
})
df_vertical

  bootcamp
0       DS
1       FS

### 1.2.2 Claustro:

**Tabla Y:** Claustro

In [43]:
df_promo = df_total[["Promoción", "Fecha_comienzo"]].drop_duplicates()
df_promo

     Promoción Fecha_comienzo
0   Septiembre     18/09/2023
15     Febrero     12/02/2024

### 1.2.3 Campus:

In [58]:
 df_campus = pd.DataFrame({
    "ubicacion": df_claustro["Campus"].unique(),
})
df_campus

  ubicacion
0    Madrid
1  Valencia

### 1.2.4 Proyecto:

In [62]:
df_proyecto = pd.DataFrame({
    "nombre_proyecto": [elem for elem in df_total.columns if "Proyecto" in elem],
})
df_proyecto

       nombre_proyecto
0         Proyecto_HLF
1         Proyecto_EDA
2        Proyecto_BBDD
3          Proyecto_ML
4  Proyecto_Deployment
5      Proyecto_WebDev
6    Proyecto_FrontEnd
7     Proyecto_Backend
8       Proyecto_React
9   Proyecto_FullSatck

### 1.2.5 Profesorado:

In [63]:
df_profesorado = df_claustro[["Nombre", "Rol"]]
df_profesorado

               Nombre Rol
0           Noa Yáñez  TA
1   Saturnina Benitez  TA
2          Anna Feliu  TA
3       Rosalva Ayuso  TA
4    Ana Sofía Ferrer  TA
5     Angélica Corral  TA
6         Ariel Lledó  TA
7         Mario Prats  LI
8   Luis Ángel Suárez  LI
9  María Dolores Diaz  LI

### 1.2.6 Clase: